<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
    <form class="form-inline" action="/response" method="post">
        <label class="sr-only" for="inlineFormInputName2">Keyword</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe" name="keyword">
        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username" name="username">
        </div>

        <div class="form-check mb-2 mr-sm-2">
            <input class="form-check-input" type="checkbox" id="inlineFormCheck">`
            <label class="form-check-label" for="inlineFormCheck">
            Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    {% if rows %}
    <table border=1>
        <thead>
            <tr>
                <th>Hashtag</th>
                <th>Post Count</th>
                <th>Avg Likes
                <th>Max Likes</th>
                <th>Min Likes</th>
                <th>Avg Comments</th>
                <th>Max Comments</th>
                <th>Min Comments</th>
                <th>Ranking Probability</th>
                <th>Purpose</th>
                <th>Probability</th>
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr>
                {% for key in row %}
                <td> {{ row[key] }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>
</body>